@use '../../style' as s;
@use '../../style/js-layout.scss';

.page {
	max-width: 480px;
	padding: s.space(6);
	margin: 0 auto;

	display: flex;
	flex-direction: column;
	gap: s.space(8);
}

.post__date {
	color: #888888;
	font-size: 14px;
}

.post__info {
	font-size: 16px;
	line-height: 1.4em;
	color: #121212;
}
