@use '../../style' as s;
@use '../../style/js-layout.scss';

.page__two {
	max-width: 480px;
	padding: s.space(6);
	margin: 0 auto;

	display: flex;
	flex-direction: column;
	gap: s.space(8);
}

//ДЗ

.nav {
	display: grid;
	grid-template-columns: calc(50% - 8px) calc(50% - 8px);
	gap: 8px;
	justify-content: space-between;

	&__button {
		border-bottom: #121212;
		border-width: 0 0 6px 0;
		font-size: 16px;

		&:hover {
			opacity: 0.7;
		}
		
		&:active {
			opacity: 0.3;
		}
	}
}

//
.post__date {
	color: var(--100, #121212);
	font-size: 18px;
	font-weight: 600;
}
//
.post__info {
	font-size: 14px;
	font-weight: 400;
	line-height: 150%;
	color: #121212;
	color: var(--85, #363636);
	text-align: justify;
}

//ДЗ

.button-bot {
  display: flex;	
	padding: 14px; 
	justify-content: center;
	align-items: center;
	gap: 8px;

	font-size: 6px;
	color: var(--unnamed, #FFF);

	border-radius: 10px;
	background: #F46F17;

  //@include s.click;

	&:hover {
		opacity: 0.7;
	}

  &:active {
    opacity: 0.3;
  }
}
